<p id="notice"><%= notice %></p>

<p>
  <strong>Resource Transaction:</strong>
  <%= @resource_transaction.ResourceTransaction %>
</p>

<%= link_to 'Edit', edit_resource_transaction_path(@resource_transaction) %> |
<%= link_to 'Back', resource_transactions_path %>
