/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/*!
 * jQuery QueryBuilder 2.3.3
 * Copyright 2014-2016 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */
/* line 7, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-group-container, .query-builder .rule-container, .query-builder .rule-placeholder {
  position: relative;
  margin: 4px 0;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #EEE;
  background: rgba(255, 255, 255, 0.9);
}

/* line 16, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rule-container .rule-filter-container,
.query-builder .rule-container .rule-operator-container,
.query-builder .rule-container .rule-value-container, .query-builder .error-container, .query-builder .drag-handle {
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

/* line 24, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-group-container {
  padding: 10px;
  padding-bottom: 6px;
  border: 1px solid #DCC896;
  background: rgba(250, 240, 210, 0.5);
}

/* line 30, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-group-header {
  margin-bottom: 10px;
}

/* line 33, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-group-header .group-conditions .btn.readonly:not(.active),
.query-builder .rules-group-header .group-conditions input[name$=_cond] {
  display: none;
}

/* line 37, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-group-header .group-conditions .btn.readonly {
  border-radius: 3px;
}

/* line 40, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-list {
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0;
}

/* line 45, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rule-value-container {
  border-left: 1px solid #DDD;
  padding-left: 5px;
}

/* line 49, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rule-value-container label {
  margin-bottom: 0;
  font-weight: normal;
}

/* line 53, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rule-value-container label.block {
  display: block;
}

/* line 56, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rule-value-container select, .query-builder .rule-value-container input[type=text], .query-builder .rule-value-container input[type=number] {
  padding: 1px;
}

/* line 59, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .error-container {
  display: none;
  cursor: help;
  color: #F00;
}

/* line 64, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .has-error {
  background-color: #FDD;
  border-color: #F99;
}

/* line 68, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .has-error .error-container {
  display: inline-block !important;
}

/* line 71, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-list > *::before, .query-builder .rules-list > *::after {
  content: '';
  position: absolute;
  left: -10px;
  width: 10px;
  height: calc(50% + 4px);
  border-color: #CCC;
  border-style: solid;
}

/* line 80, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-list > *::before {
  top: -4px;
  border-width: 0 0 2px 2px;
}

/* line 84, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-list > *::after {
  top: 50%;
  border-width: 0 0 0 2px;
}

/* line 88, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-list > *:first-child::before {
  top: -12px;
  height: calc(50% + 14px);
}

/* line 92, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-list > *:last-child::before {
  border-radius: 0 0 0 4px;
}

/* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-list > *:last-child::after {
  display: none;
}

/* line 99, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .error-container + .tooltip .tooltip-inner {
  color: #F99 !important;
}

/* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder p.filter-description {
  margin: 5px 0 0 0;
  background: #D9EDF7;
  border: 1px solid #BCE8F1;
  color: #31708F;
  border-radius: 5px;
  padding: 2.5px 5px;
  font-size: .8em;
}

/* line 113, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rules-group-header [data-invert] {
  margin-left: 5px;
}

/* line 117, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .drag-handle {
  cursor: move;
  vertical-align: middle;
  margin-left: 5px;
}

/* line 122, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .dragged {
  opacity: .5;
}

/* line 125, /usr/local/rvm/gems/ruby-2.3.0/gems/jquery_query_builder-rails-0.2.2/vendor/assets/stylesheets/query-builder.default.css */
.query-builder .rule-placeholder {
  border: 1px dashed #BBB;
  opacity: .7;
}

/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.billboard {
  box-shadow: 10px 10px 12px #888888;
  width: 75%;
  height: 100%;
}

/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
body {
  font-family: Centaur, "Century Gothic", Arial;
  font-size: 16pt;
  background-color: white;
  text-align: center;
}

/* line 32, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
p {
  margin-left: 180pt;
  margin-right: 10pt;
}

/* line 36, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
a:link, a:visited {
  color: black;
}

/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
a:hover {
  color: blue;
  background-color: transparent;
}

/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
img {
  border-color: transparent;
}

/* line 54, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border-style: ridge;
  border-width: 20px;
  padding-right: 500px;
}

/* line 64, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.menu {
  text-align: center;
  width: 60%;
}

/* line 67, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.menuicon {
  width: 23%;
  font-size: 25px;
}

/* line 70, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.menupipe {
  width: 1%;
}

/* line 74, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
th {
  color: black;
  background-color: #8FBC8F;
}

/* line 78, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
th:nth-child(even) {
  padding-right: 25px;
}

/* line 83, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
th:nth-child(odd) {
  padding-right: 20px;
}

/* line 89, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
tbody {
  text-align: left;
}

/* line 91, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
tr:nth-child(even) {
  background-color: #e5e5e5;
}

/* line 96, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
td:nth-child(even) {
  padding-right: 25px;
}

/* line 100, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
td:nth-child(odd) {
  padding-right: 20px;
}

/* line 105, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
td.bolder {
  font-weight: bold;
}

/* line 107, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
caption {
  caption-side: bottom;
  font-style: italic;
}

/* line 111, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.menubar {
  background-color: black;
  color: black;
}

/* line 116, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.show {
  display: block;
}

/* line 118, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
form {
  padding: 12px 16px;
  text-align: center;
  color: black;
}

/* line 123, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.coaches {
  margin-right: 15%;
  font-size: 120%;
  line-height: 2.5 em;
}

/* line 128, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.historyimages {
  display: inline-block;
  text-align: center;
  float: left;
  clear: both;
}

/* line 135, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.form {
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

/* line 143, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.recruit {
  display: inline-block;
  text-align: left;
  display: top;
  clear: both;
  margin: -40%;
  vertical-align: top;
  font-size: 23px;
}

/* line 153, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.logo {
  vertical-align: bottom;
  width: -50%;
  display: bottom;
  text-align: right;
}

/* line 158, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
#roster {
  text-align: center;
  padding: 5px 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* line 162, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.title {
  text-align: center;
  color: white;
}

/* BUTTONS START */
/* line 167, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.btn-add {
  color: #000000;
  background-color: #8FBC8F;
  border-color: #000000;
}

/* line 172, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.btn-add:hover,
.btn-add:focus,
.btn-add:active,
.btn-add.active,
.open .dropdown-toggle.btn-add {
  color: #000000;
  background-color: #597D59;
  border-color: #000000;
}

/* line 182, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.btn-download {
  color: #000000;
  background-color: #E38109;
  border-color: #000000;
}

/* line 187, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.btn-download:hover,
.btn-download:focus,
.btn-download:active,
.btn-download.active,
.open .dropdown-toggle.btn-add {
  color: #000000;
  background-color: #ED9715;
  border-color: #000000;
}

/* BUTTONS END */
/* line 199, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.center {
  margin: 0 auto;
  width: 25%;
}

/* line 204, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.FileUpload {
  margin: 0 auto;
  width: 15%;
}

/* line 208, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
hr {
  background-color: dimgrey !important;
  color: dimgrey !important;
  border: solid 2px dimgrey !important;
  height: 5px !important;
  width: 500px !important;
}

/* line 216, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.grass {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
}
