<h1 style="text-align:left">THE WINDHAM YOUTH CORE</h1>

<p style="text-align:left">What is the windham youth core?</p>

<p style="text-align:left">The Windham Youth Core is a diverse team of dedicated youth from area high schools who earn money while working to promote access to healthy food in the community.  The Windham Youth CORE has both summer and academic year programs. Members:</p>
<p style="text-align:left">Create hands-on projects that have a real impact on the community; </p>
<p style="text-align:left">Develop leadership and workforce skills that are the tools for a successful future.</p>
<p style="text-align:left">What we do: Membership involves a combination of paid workdays, volunteer projects, skill-building workshops, community events, and monthly “hangouts”. We work alongside university students and community members to: build and maintain community gardens, grow food to donate to local agencies and sell at the Willimantic Farmers’ Market, run our own Sofrito business, teach younger children about growing food and eating well, and participate in community outreach and events.</p>
<p style="text-align:left">The Academic Year Program runs from September through June. There are two enrollment periods: September and January. The program meets every other Saturday and occasional evenings for outreach and “hangouts” with local community members and college students. Members can earn up to $500 for the year.</p>
<p style="text-align:left">The Summer Program runs for six weeks in July-August. Members work 16-20 hours per week and earn $9.60/hour.</p>
<p style="text-align:left">To apply:  Complete our APPLICATION and submit it to us via email at info@growwindham.org or to our office at 872 Main Street,  Willimantic, CT  06226.</p>
<p style="text-align:left">NOTE:  for the Summer Program, you must FIRST apply to the State-Funded Youth Employment Program via this Application!</p>
<%= link_to(image_tag("grow_windham_structure.jpg", :alt => "Windham Youth Core Organizational Structure", :width => 450, :height => 400)) %>